:root {
    --primary: #4361ee;
    --secondary: #3f37c9;
    --dark: #1b263b;
    --light: #f8f9fa;
    --gray: #adb5bd;
    --success: #4cc9f0;
    --warning: #f72585;
    --card-bg: #ffffff;
    --sidebar-bg: #2b2d42;
    --header-bg: #3a0ca3;
}

.app-container {
    display: flex;
    min-height: 100vh;
    background-color: #f5f7fa;
    width: 100%;
    position: relative;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    transition: margin-left 0.3s;
    width: calc(100% - 280px);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
}

.content {
    padding: 2rem;
    padding-top: calc(48px + 2rem);
    flex-grow: 1;
    background: #f5f7fa;
    width: 100%;
    min-height: calc(100vh - 48px);
    position: relative;
    z-index: 1;
}

/* Адаптивность */
@media (max-width: 992px) {
    .app-container {
        flex-direction: column;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
        position: relative;
    }

    .content {
        padding-top: 2rem;
        min-height: auto;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 1rem;
    }
} 